:root {
    --danger-color: #B22323;
    --theme-xdark: #272838;
    --theme-dark: #5D536B;
    --theme-medium: #7D6B91;
    --theme-light: #989FCE;
    --theme-accent: #347FC4;
    --gray-dark: #333;
    --gray-medium: #888;
    --gray-light: #BBB;
    --gray-xlight: #DDD;
    --white: #FFF;
    --black: #000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Georgia, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1em;
    color: var(--theme-xdark);
}

a, a:visited {
    color: var(--theme-accent);
}

:is(a:hover, a:active) {
    color: var(--theme-medium);
}

.app {
    position: relative;
}

.main-content {
    margin-top: 55px;
    padding: 28px;
}

/**************** nav styles ******************/

nav.main-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: var(--theme-xdark);
    padding: 0px 28px;
    gap: 18px;
}

nav h2 {
    margin-bottom: 0px;
}

nav.main-nav .left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 18px;
}

nav.main-nav .right {
    display: flex;
    align-items: center;
    gap: 18px;
}

nav.main-nav .brand {
    color: var(--theme-light);
    margin-right: 28px;
}

nav.main-nav :is(a, button) {
    color: var(--gray-light);
    text-decoration: none;
    background: transparent;
    border: none;
    display: inline-block;
}

nav.main-nav :is(a, button):hover {
    cursor: pointer;
    color: var(--white);
}

nav.main-nav, a:hover, nav.main-nav a:active {
    color: var(--white);
}

nav.main-nav .greeting {
    color: var(--theme-light);
}

/********** Buttons ****************************/
:is(a, button).btn {
    background-color: var(--gray-medium);
    border: 1px solid #555;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 2px;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

:is(a, button):hover {
    cursor: pointer;
}

:is(a, button).btn--xs {
    padding: 2px 4px;
    font-size: 12px;
}

:is(a, button).btn--primary {
    background-color: var(--theme-dark);
    color: var(--white);
    border-color: var(--theme-medium);
}

:is(a, button).btn--primary:hover{
    background-color: var(--theme-medium);
}

:is(a, button).btn--primary-alt {
    color: var(--white);
    background-color: var(--theme-accent);
    border-color: var(--theme-accent);
}

:is(a, button).btn--primary-alt:hover {
    color: var(--white);
    background-color: #1f4C75;
    border-color: #1f4C75;
}

:is(a, button).btn--danger {
    color: var(--white);
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}

:is(a, button).btn--danger:hover {
    color: var(--white);
    background-color: #711616;
    border-color: #711616;
}

:is(a, button).btn--secondary {
    color: var(--black);
    background-color: var(--gray-medium);
    border-color: var(--gray-dark);
}

:is(a, button).btn--secondary:hover {
    color: var(--white);
    background-color: var(--gray-dark);
}

/**************** Form Styles ********************/
div.form-group {
    width: 100%;
    margin-bottom: 24px;
}

div.form-group label {
    display: block;
    margin-bottom: 8px;
}

div.form-group .form-control {
    width: 100%;
    border: 1px solid var(--theme-dark);
    margin-bottom: 8px;
    height: 38px;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
}

div.form-group .form-control:focus {
    outline: none;
    border-color: var(--theme-accent);
}

div.form-group p.form-feedback {
    font-size: 12px;
    color: var(--gray-medium);
    padding: 0px 6px;
}

div.form-group.is-invalid :is(.form-feedback) {
    color: var(--danger-color);
}

div.form-group.is-invalid :is(.form-control, .form-control:focus) {
    border-color: var(--danger-color);
}